.logo {
    margin-right: 50px;
    float: left;
    color: white;
    font-size: large;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    padding: 0 50px;
  }

  nz-footer {
    text-align: center;
  }