<nz-layout *ngIf="layout$ | async as layout">
    <nz-header>
        <div class="logo"><a routerLink="/">OPCMS</a></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li *ngFor="let nav of layout.header_links" nz-menu-item nzMatchRouter>
                <a [routerLink]="nav.link.cached_url">{{ nav.text }}</a>
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>{{ layout.footer_text }}</nz-footer>
</nz-layout>